<div class="card">
    <img class="card-img-top" src= {{product.payload.val().imageUrl}}  alt="{{product.payload.val().img.name}">
    <div class="card-body">
      <h5 class="card-title">{{product.payload.val().title}}</h5>
      <p class="card-text">{{product.payload.val().price | currency:'USD' :true }}</p>
      <p class="card-text">{{product.payload.val().category }}</p>
    </div>
    <div class="card-footer"> 
   <button  
        *ngIf="shoppingCart.getQuantity() === 0; else updateQuantity" 
        (click) ="addToCart()"
        class="btn btn-secondary btn-block">Add to cart</button>
        <ng-template #updateQuantity>
            <div class="row no-gutters">
              <div class="col-2">
                <button 
                (click)="removeFromCart()"
                class="btn btn-secondary btn-block">-</button>
              </div>
              <div class="col text-center">
                {{ shoppingCart.getQuantity() }} in cart
              </div>
              <div class="col-2">
                <button
                (click) ="addToCart()"
                class="btn btn-secondary btn-block">+</button>
              </div>
            </div>
        </ng-template>
    </div>   
</div>