<!-- <h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
    <p>
        You have {{ cart.totalItemsCount }} items in your shopping cart.
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>TotalPrice</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart.items">
                <td>{{ item.title}}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.totalPrice}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>{{ cart.totalPrice}}</td>
            </tr>
        </tfoot>
    </table>
</ng-container> -->

<ng-container *ngIf="cart$ | async as cart">

    <table class="table">

        <tbody>
            <tr *ngFor="let item of cart.items">
                <td>
                    <img
                      [src]="item.imageUrl"
                      class="thumbnail"
                      alt=""
                    >
                </td>
                <td>{{  item.title }}</td>
                <td>
                    <product-quantity [product]="item" [shopping-cart]="cart"></product-quantity>  
                </td>          
                <td>
                    {{ item.totalPrice |currency:"USD":"symbol"}}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>                
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    {{ cart.totalPrice |currency:"USD":"symbol" }}	
                </th>
            </tr>
        </tfoot>
    </table>

    <button
        (click)="clearCart()"
        class="btn btn-danger btn-sm"
    >
        Clear Shopping Cart
    </button>

</ng-container>